.memories-view-container {
	background-color: #ccc;
	height: 100%;
	overflow-y: auto;
}

.timeline {
	margin: 0 200px;
	padding: 20px 0;
}

.events-container {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}

.year-title {
	background-color: #ccc;
	color: #605e5e;
	padding: 20px;
	text-align: left;
	margin: 0;
	font-weight: bold;
	font-size: 1.5em;
}

.event {
	position: relative;
	padding: 10px 0;
	background-color: white;
}

.event:last-child {
	.event-content {
		margin-bottom: none;
	}
}

.event-date {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #373737;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	font-size: 0.9em;
}


.event-content {
	border-bottom: 1px solid #ddd;
	margin-left: 120px;
	padding-bottom: 15px;
}

.event-title {
	font-weight: normal;
	color: #1c7ad6;
	cursor: pointer;
	text-align: right;
	display: block;
}

.event-description {
	margin-top: 5px;
	color: #403f3f;
	font-size: 1em;
}

.status {
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: #007bff;
	color: white;
	padding: 2px 8px;
	border-radius: 4px;
	font-size: 0.8em;
}

.timeline-header {
	display: flex;
	justify-content: flex-end;
	padding: 20px 0px;
	margin: 0 200px;
}

.timeline-header #search-box {
	padding: 7px 10px;
	margin: 0px 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
	height: 40px;
	width: 300px;
	background-color: #fff;
	box-shadow: #fff;
	text-color: #605e5e;
}

.timeline-header #search-btn {
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	border: none;
	height: 40px;
	width: 100px;
	margin: 0px 5px;
}

@media screen and (max-width: 768px) {
	.timeline {
		margin: 0 10px;
		padding: 20px 5px;
	}

	.event-date {
		left: 5px;
		width: 90px;
		font-size: 0.9em;

		.event-content {
			margin-left: 100px;
		}

		.status {
			right: 5px;
			font-size: 0.7em;
		}
	}

	.timeline-header {
		margin: 0 10px;
		justify-content: center;
		flex-direction: column;
	}

	.timeline-header #search-box {
		width: calc(100% - 20px);
		margin: 5px 5px;
	}

	.timeline-header #search-btn {
		width: calc(100% - 20px);
		margin-bottom: 5px;
	}
}
